@font-face {
  font-family: gummy;
  src: url(Gummy.ttf);
}

@font-face {
  font-family: storm;
  src: url(Storm.ttf);
}

body {
  background-color: (255, 255, 255);
}

a {
  text-decoration: none;
  color: darkblue;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: darkblue;
}

#first {
  max-width: 445px;
  border: #000 solid;
  border-width: 0 1px 0 1px;
  padding: 2em 2em 0 2em;
  height: 100vh;
  margin-bottom: 0;
}

#header {
  background: linear-gradient(to right, rgb(0 0 0 / 0.8), rgb(0 0 0 / 0)),
    url(jungle.png);

  border-radius: 1em;
  padding: 3em;

  font-family: gummy;
  max-width: 400px;
}

#header > h2,
#header > h5 {
  text-align: center;
  color: yellow;
}

#header > h2 {
  font-weight: bolder;
}

#header > h5 {
  font-weight: lighter;
}

#main {
  margin-top: 3em;
  margin-bottom: 3em;
}

#up {
  display: flex;
}

#searchBox {
  margin-right: 1em;
  max-height: 2.5em;
}

#input {
  display: block;
}

#input:focus {
  background-color: #ffffe0;
}

#button:hover {
  transform: scale(1.2);
}

#middle {
  text-align: center;
  margin-top: 2em;
}

#lastGuess {
  visibility: hidden;
}

#bottom {
  text-align: center;
  margin-top: 1em;
  display: flex;
  padding: 0 2em;
  margin-right: auto;
  margin-left: auto;
}

#bestScore {
  color: brown;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#github {
  font-weight: lighter;
  position: absolute;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  border-top: #000 1px solid;
}

.counter-box {
  width: auto;
  height: auto;
  max-width: 8em;
  max-height: 8em;
  background: (255, 255, 255);
  padding: 1em 1.5em;
  border: #000 solid;
  border-radius: 1em;
  text-align: center;
  margin-inline: 1em;
}

.counter-box > h2 {
  display: inline-block;
  font-size: 1.5em;
  color: #000;
}

.counter-box > h4 {
  font-size: 0.8em;
}

.counter-box .fa {
  font-size: 1.3em;
  color: orange;
  display: block;
}

/* animation */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
